.App {
  text-align: center;
}

.App-header, .App-main, .App-footer {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-content {
  padding: 10px
}

.icon-link {
  color: #61dafb;
  padding: 10px;
}

.icon-link:hover {
  color: #ffffff;
}

.contact-container {
  display: inline-grid;
  justify-items: center;
  column-gap: 10px;
}

.contact-icons {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.Collapsible__trigger.is-open i {
  transform: rotate(135deg);
  transition-duration: 400ms;
}

.Collapsible__trigger.is-closed i {
  transform: rotate(-0deg);
  transition-duration: 400ms;
}

.resume-item {
  justify-content: left;
  text-align: left;
  padding: 30px
}

.resume-icon {
  padding: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.resume-content {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

.resume-duration {
  font-size: calc(6px + 2vmin);
}

.resume-description {
  border-top: 1px #61dafb solid;
  font-size: calc(5px + 2vmin);
}
