@import url(./css/theme.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > #root > div {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.is-open i {
  transform: rotate(135deg);
  transition-duration: 400ms;
}

.is-closed i {
  transform: rotate(-0deg);
  transition-duration: 400ms;
}
